// primary colors
$primary-yellow: #917c50;
$primary-gary: #c2c2c2;
$primary-info: #616161;
$bg-dark: #150c15;
$bg-white-smoke: #f5f5f5;
$bg-floral-white: #f3f3f3;
$bg-white-smoke-100: #d9d9d9;
$text-grey: #767676;
$hover-grey: #443d44;
$bg-white: #ffffff;

$color-red: #c51b00;
$color-dark: #242424;
$color-dark--15: #150c15;
$color-gray: #999999;
$color-gray-light: #494949;
$color-grey-light: #e0e0e073;
$gray-eb: #ebebeb;
// stylelint-disable value-keyword-case
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-lato: 'Lato', sans-serif;
