$border-color: #DFDFDF;
.filter-item {
    padding: 0.75rem 0;
    border-bottom: 1px solid $border-color;
    &__icon {
        margin: 0 0.5rem 0 auto;
    }
    &.last-child {
        border-bottom: none;
    }
    >p{
        font-size: 1rem;
        color: #242424;
        line-height: 1.5rem;
        margin-bottom: 0.75rem;
    }
}