.add__product {
  background: #fff;
  .pointer-none {
    pointer-events: none;
  }
  ::v-deep(.el-checkbox) {
    display: flex;
    align-items: center;
  }
  .page__title {
    font-size: 30px;
    font-weight: bold;
  }
  .el-main {
    padding: 20px 0;
  }
  .msg__duplicate {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    margin-top: -13px;
    // position: absolute;
    top: 100%;
  }
  .error__emty-month {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }
  ::v-deep(.is__duplicate .el-input__inner) {
    border-color: #f56c6c !important;
  }
  ::v-deep(.el-cascader) {
    overflow: hidden;
    height: 48px;
    line-height: 48px;
    border: 1px solid #c8cfd7;
    border-radius: 8px;
    --text: var(--placeholder);
    &::before {
      content: '\e6df';
      position: absolute;
      width: 100%;
      background: #ffffff;
      z-index: 10;
      height: 100%;
      text-align: right;
      padding-right: 0.5rem;
      font-family: 'element-icons' !important;
    }
    &::after {
      cursor: pointer;
      content: var(--text);
      position: absolute;
      width: 90%;
      background: #ffffff;
      z-index: 20;
      height: 100%;
      color: #c8cfd7;
      left: 0;
      padding-left: 1rem;
      font-size: 1rem;
    }
    &.is-disabled {
      &::after,
      &::before {
        cursor: no-drop;
        background-color: #f5f7fa;
        border-color: #e4e7ed;
        color: #c0c4cc;
      }
    }
  }
  .icon__currency {
    position: absolute;
    left: 16px;
    z-index: 1;
  }
  .input__wrapper {
    position: relative;
    .input__icon {
      bottom: 11px;
      position: absolute;
      z-index: 1;
      left: 16px;
    }
    ::v-deep(.el-input__inner) {
      padding-left: 50px;
    }
  }
  ::v-deep(.input__donation-amount .el-input__inner) {
    padding-left: 35px;
  }
  ::v-deep(.el-tabs__content) {
    overflow: visible;
  }
  ::v-deep(.el-form-item.el-form-item) {
    margin-bottom: 22px;
  }
  ::v-deep(.el-input__inner) {
    font-size: 16px;
  }
  ::v-deep(.no__label-required .el-form-item__label) {
    display: none;
  }
  .content {
    width: 70%;
    margin-right: 30px;
  }
  ::v-deep(.el-aside) {
    width: 440px !important;
  }
  ::v-deep(.el-upload-list__item-name) {
    display: none;
  }
  ::v-deep(.el-upload-dragger) {
    border: none;
    height: 85px;
  }
  ::v-deep(.el-divider--horizontal) {
    margin: 12px 0;
  }
  .select__value {
    ::v-deep(.el-scrollbar__wrap) {
      width: 300px;
    }
  }
  // ::v-deep(.el-table__header) {
  //   width: 100%!important;
  // }
  // ::v-deep(.el-table__body) {
  //   width: 100%!important;
  // }
  ::v-deep(.el-radio__input.is-checked + .el-radio__label) {
    color: inherit;
  }
  ::v-deep(.dropdown__select-month) {
    width: 100%;
    .el-dropdown-link {
      width: 100%;
      height: 100%;
      line-height: 46px;
    }
  }
  .allergy__val {
    border: 1px solid #c8cfd7;
    padding: 16px;
    border-radius: 8px;
    height: 48px;
    margin: 12px 0;
    display: flex;
    align-items: center;
  }
  .compassionate__radio {
    // margin-left: 20px;
  }
  .img__upload {
    max-width: 399px;
    width: 100%;
    height: 350px;
    margin-bottom: 8px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .remove__img {
      width: 24px;
      height: 24px;
      background: #242424;
      color: #fff;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 11px;
      right: 11px;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      display: flex;
      justify-content: center;
      align-items: center;
      .number__img {
        font-size: 48px;
        color: #fff;
      }
    }
  }
  ::v-deep(.hide-footer .el-dialog__footer) {
    display: none;
  }
  ::v-deep(.el-dialog__body) {
    padding: 0 20px;
  }
  ::v-deep(.el-dialog__body .preview__list) {
    grid-template-columns: repeat(3, 30%);
    display: grid;
    gap: 20px;
    justify-content: center;
    .img__upload {
      overflow: auto;
      height: 350px;
      &:first-child::before {
        content: 'Thumbnail';
        position: absolute;
        color: #bab6ba;
        font-size: 16px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  ::v-deep(.el-dialog__wrapper) {
    height: 80vh;
  }
  .label {
    color: #443d44;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  ::v-deep(.el-form-item__label) {
    color: #443d44;
    font-weight: 600;
  }
  ::v-deep(.el-radio) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .product__variants {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
    background: #f3f3f3;
    border-radius: 8px;
    position: relative;
    padding: 20px 60px 20px 20px;
    ::v-deep(.el-form-item) {
      margin-bottom: 20px;
      .el-form-item__label {
        display: none;
      }
    }
    .remove__option {
      position: absolute;
      top: -10px;
      right: -8px;
      cursor: pointer;
    }
    .product__option {
      .input__option {
        position: relative;
      }
      ::v-deep(.el-icon-delete) {
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .input__rate {
    .icon__input {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .dropdown__select-month {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 12px 0;
  }
  .tag__select {
    background: #dfdfdf;
    border-radius: 8px;
    font-size: 14px;
    color: #443d44;
    padding: 4px 7px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .el-icon-close {
      padding-left: 4px;
    }
    &:not(:last-child) {
      margin: 0 8px 8px 0;
    }
  }
  ::v-deep(.modal__language) {
    .el-dialog {
      border-radius: 12px;
      width: 600px !important;
      .desc {
        margin-bottom: 30px;
        font-size: 16px;
      }
    }
  }
  .btn__addOption {
    height: 42px;
    border: 1px solid #948566;
    display: flex;
    justify-content: center;
    color: #917c50;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 40px;
    &:hover {
      background-color: #f7f5f1 !important;
      opacity: 0.8;
    }
    &.disabled {
      cursor: not-allowed;
      background: #f7f5f1;
    }
    &.disabled:hover {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}
.supplier__autocomplete {
  position: relative;
  .icon__clear {
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
  label {
    line-height: 2rem !important;
  }
  ::v-deep(.el-input__inner) {
    line-height: 48px;
    height: 48px;
    border-radius: 8px;
    padding-right: 30px;
  }
}

::v-deep(.quantity__product .el-form-item__label) {
  float: unset;
}
